

<div class="container">
  <div>
    <input class="input_img" type="file" name="file" id="file" ng2FileSelect [uploader]="uploader" />
    <label for="file">
      <i class="fas fa-upload"></i>
      &nbsp;&nbsp;&nbsp;
      Select Image
    </label>
  </div>
  <button type="button" class="button is-success" 
    (click)="uploader.uploadAll()" 
    [disabled]="!uploader.getNotUploadedItems().length" >
        Upload
  </button>
</div>


<div class="container boundary">
<div class=" example-container" cdkDropListGroup>
  <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)"></div>
  <div cdkDropList *ngFor="let item of images"
       [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
    <div cdkDrag class="example-box" (cdkDragMoved)="dragMoved($event);">
      <img class="img" [src]="server + '/uploads/' + item.directory" alt="">
    </div>
  </div>
</div> 
</div>

<router-outlet></router-outlet>